* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}